@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DevOps Zizi Youssef my friend</h1>    
    <h1 class="display-4">This is the 2nd Application</h1> 
    <h1 class="display-4">deployed on AKS</h1> 
</div>
